---
import BlogLayout from '@layouts/BlogLayout.astro'
import { getEntry } from 'astro:content'

const { blog } = Astro.params
if (blog === undefined) {
	throw new Error('Blog is required')
}

const entry = await getEntry('blog', blog)

if (entry === undefined) {
	return Astro.redirect('/404')
}

const { Content } = await entry.render()
---

<BlogLayout title={`Nathan Lardizabal | ${entry.data}`} blogData={entry.data}>
	<article class="prose dark:prose-invert">
		<h1 class="mb-2 text-2xl font-semibold lowercase">{entry.data.title}</h1>
		<p class="text-sm font-light italic text-gray-400">
			by {entry.data.author} | {entry.data.published.toLocaleDateString()}
		</p>
		<ul>
			{entry.data.tags.map((tag, index) => <li>{tag}</li>)}
		</ul>
		<div class="my-8 font-light">
			<Content />
		</div>
	</article>
</BlogLayout>
