---
import Layout from '@layouts/Layout.astro'
import Chip from '@components/general/Chip.astro'
import CodeBlock from '@components/blog/CodeBlock.astro'
import InlineImage from '@components/blog/InlineImage.astro'
import BentoGallery from '@components/blog/BentoGallery.astro'
import { sanityClient } from 'sanity:client'
import { PortableText } from 'astro-portabletext'
import type { SanityBlog } from '@app-types/sanity'

export const prerender = true

export const getStaticPaths = async () => {
	const SLUGS_QUERY = `*[_type == "blog" && defined(slug.current)]{
			"params": {"blog": slug.current}
		}`
	return await sanityClient.fetch(SLUGS_QUERY)
}

const { blog } = Astro.params

const BLOG_QUERY = `*[_type == "blog" && slug.current == $slug][0]{
	title,
	author,
	publishedAt,
	description,
	tags[]->{ name, slug },
	images[]{ asset->{ url }, alt },
	body[]{
		...,
		_type == "image" => { asset->{ url }, alt, caption },
		_type == "code" => { language, code, filename }
	}
}`
const sanityBlog = await sanityClient.fetch<SanityBlog>(BLOG_QUERY, {
	slug: blog,
})

if (!sanityBlog) return Astro.redirect('/404')

const { title, author, tags = [] } = sanityBlog
const blogDate = new Date(sanityBlog.publishedAt).toLocaleDateString('en-US', {
	month: 'short',
	day: 'numeric',
	year: 'numeric',
})
const pageTitle = `Nathan Lardizabal | ${title}`
---

<Layout title={pageTitle} description={sanityBlog.description} blogData={sanityBlog}>
	<article class="prose dark:prose-invert">
		<h1 class="mb-2 text-2xl font-semibold lowercase">{title}</h1>
		<div class="flex gap-2">
			{tags.map((tag) => <Chip tag={tag.name} />)}
		</div>
		<p class="my-2 text-sm font-light text-gray-400 italic">
			by {author} | {blogDate}
		</p>
		<div class="my-8 font-light">
			<PortableText
				value={sanityBlog.body}
				components={{
					type: {
						code: CodeBlock,
						image: InlineImage,
					},
				}}
			/>
		</div>
		{
			sanityBlog.images && sanityBlog.images.length > 0 && (
				<BentoGallery images={sanityBlog.images} />
			)
		}
	</article>
</Layout>
