---
import Layout from '@layouts/Layout.astro'
import BlogCard from '@components/general/BlogCard.astro'
import { sanityClient } from 'sanity:client'
import type { SanityBlogListItem } from '@app-types/sanity'

const BLOG_QUERY = `*[
		_type == "blog"
		&& defined(slug.current)
	]|order(publishedAt desc)[0...12]{
		_id,
		title,
		slug,
		publishedAt,
		description,
		tags[]->{ name, slug },
		coverImage{ asset->{ url } },
		images[]{ asset->{ url } }[0...1]
	}`
const blogs = await sanityClient.fetch<SanityBlogListItem[]>(BLOG_QUERY)
---

<Layout title="Nathan Lardizabal | Blog">
	<h1 class="mb-8 text-2xl font-semibold">my blog</h1>
	<p class="text-sm font-light text-slate-300">
		smol things to share - code related or not 🥸
	</p>
	<hr class="my-4 border-slate-700" />
	<section class="grid grid-cols-1 gap-4 md:grid-cols-2">
		{
			blogs.map((blog) => {
				const imageUrl =
					blog.coverImage?.asset?.url || blog.images?.[0]?.asset?.url

				return (
					<BlogCard
						slug={blog.slug.current}
						title={blog.title}
						description={blog.description}
						publishedAt={blog.publishedAt}
						tags={blog.tags}
						coverImage={imageUrl}
					/>
				)
			})
		}
	</section>
</Layout>
