---
import Icon from 'astro-icon'

const { title, url, startDate, description, tech, repo } = Astro.props

let httpsURL = 'https://'
---

<article
	class="flex flex-col justify-between rounded border border-gray-700 p-4 transition hover:border-gray-400"
>
	<div>
		<div class="flex flex-col">
			<h2 class="text-base text-slate-100">{title}</h2>
			<a
				class="my-1 w-fit text-sm font-light text-gray-300 transition hover:opacity-80"
				href={url}
				target="_blank"
			>
				{url.replace(httpsURL, '')}
			</a>
		</div>
		<p class="mb-1 text-xs font-light text-gray-400">
			{startDate} - present
		</p>
		<p class="my-2 text-sm font-light text-slate-300">
			{description}
		</p>
	</div>
	<div class="flex flex-col">
		<div class="mt-4 flex gap-2">
			{
				tech.map((tech) => (
					<Icon
						name={tech}
						class="h-7 w-auto rounded-lg grayscale transition hover:grayscale-0"
					/>
				))
			}
		</div>
		<div class="mt-4 flex flex-col items-end gap-1">
			<a
				href={url}
				class="flex items-center text-xs text-gray-500 transition hover:text-gray-50"
				target="_blank"
			>
				view site <Icon name="mdi:chevron-right" class="h-4 w-auto" />
			</a>
			<a
				href={repo}
				class="flex items-center text-xs text-gray-500 transition hover:text-gray-50"
				target="_blank"
			>
				view github source{' '}
				<Icon name="mdi:chevron-right" class="h-4 w-auto" />
			</a>
		</div>
	</div>
</article>
