---
import Layout from '@layouts/Layout.astro'
import ProjectCard from '@components/general/ProjectCard.astro'
import { getCollection } from 'astro:content'

const data = await getCollection('project')
const allProjects = data.sort((a, b) =>
	a.data.startDate < b.data.startDate ? 1 : -1
)
---

<Layout title="Nathan Lardizabal | Work">
	<h1 class="mb-8 text-2xl font-semibold">my projects</h1>
	<p class="text-sm font-light text-slate-300">
		i like to build web apps outside of work too 🤠
	</p>
	<hr class="my-4 border-slate-700" />
	<section class="grid grid-cols-1 gap-4 md:grid-cols-2">
		{
			allProjects.map((project) => {
				let startDate = `${project.data.startDate.getUTCMonth()}/${project.data.startDate.getUTCFullYear()}`

				return (
					<ProjectCard
						title={project.data.title}
						url={project.data.url}
						description={project.data.description}
						tech={project.data.tech}
						repo={project.data.repo}
						{startDate}
					/>
				)
			})
		}
	</section>
</Layout>
